<% content_for :page_title, "Releases" %>

<h1>Releases</h1>

<p><%= link_to "Book a release", new_release_path, class: "btn btn-success" %></p>

<table class="table">
  <% @releases.each do |release| %>
  <tr>
    <td><%= link_to "##{release.id} #{release.description}", release_path(release) %></td>
    <td><%= release.start_at.strftime("%a %H:%M") %> &rarr; <%= release.end_at.strftime("%H:%M") %></td>
    <td><%= link_to "Edit", edit_release_path(release) %></td>
  </tr>
  <% end %>
</table>
