<% content_for :page_title, "Release #{@release.id}"  %>

<h1><%= @release.description %> (<%= "##{@release.id}" %>)</h1>

<h2><%= @release.start_at.strftime("%A %d %B %H:%M") %> &rarr; <%= @release.end_at.strftime("%H:%M") %></h2>

<div class="btn-group">
  <%= link_to "Edit", { action: "edit", id: @release.id }, class: "btn" %>
</div>
